<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payslip</title>
  <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>

  <h1>Payslip</h1>
  <p>Employee: <%= employee %></p>
  <p>Site: <%= site %></p>
  <p>Date: <%= date %></p>
  <p>Normal Hours: <%= normal_hours %></p>
  <p>Holiday Hours: <%= holiday_hours %></p>
  <p>Night Shift Hours: <%= night_shift_hours %></p>
  <p>Gross Salary: $<%= grossSalary %></p>
  <p>Net Salary: $<%= netSalary %></p>

</body>
</html>
